{% extends 'templates/main.html' %} {% load static %} {% block body %}
<div class="p-5">
  {% if request.path == "/login/" %}
  <div class="container w-50 p-3">
    <form class="form-control customize_width" method="POST" action="">
      {% csrf_token %}
      <div class="form-group">
        <label for="email">Email address</label>
        <input
          id="email"
          type="text"
          class="form-control"
          name="username"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          name="password"
          class="form-control"
          placeholder="Password"
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="d-flex justify-content-center align-items-center m-3">
      Unlock exclusive content and special features by registering with us
      today!
      <a href="{% url 'register' %}"
        ><button class="btn btn-info ml-2">Sign up</button></a
      >
    </div>
  </div>
  {% else %}

  <div class="container w-50 p-3">
    <form class="form-control customize_width">
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          placeholder="Enter your name here"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="example@gmail.com"
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          placeholder="Type your password here."
        />
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Confirm your password here."
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="d-flex justify-content-center align-items-center m-3">
      Already have an account? Log in here.
      <a href="{% url 'login' %}"
        ><button class="btn btn-info ml-2">Sign in</button></a
      >
    </div>
  </div>

  {% endif %}
</div>
{% endblock body %}
